.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.flexRow {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
