.container {
  width: 100%;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
