.form {
  text-indent: 10px;
  .input {
    margin: 10px;
    color: black;
    border: white;
    background: white;
    outline-color: white;
  }
}
.whiteBoard {
  border-radius: 5px;
  border: 2px solid #fff;
}
