.containerCard {
  width: 1200px;
  max-height: 400px;
  overflow-y: auto !important;
}

.dashedBorder {
  border: 2px dashed #000;
}
.table {
  height: 463px;
  border-radius: 5px;
  thead,
  tbody {
    th,
    td {
      padding: 2px 0 5px 10px;
    }
  }
}
