swagger: '2.0'
info:
  description: Explore the LogicGate API - all the end points are listed below.
  version: '1'
  title: LogicGate API
  contact:
    name: LogicGate
    email: devs@logicgate.com
schemes:
  - https
host: agilegrcsolutions.logicgate.com
basePath: /
tags:
  - name: Current Values
    description: Operations pertaining to current values.
  - name: External Users
    description: Operations pertaining to external users.
  - name: Fields
    description: Operations pertaining to fields.
  - name: Records
    description: >-
      Operations pertaining to records. All /assignments endpoints are
      deprecated
  - name: Roles
    description: Operations pertaining to roles.
  - name: Steps
    description: Operations pertaining to steps. All /nodes endpoints are deprecated.
  - name: Users
    description: Operations pertaining to users.
  - name: Value Maps
    description: Operations pertaining to value maps.
  - name: Workflows
    description: Operations pertaining to workflows.
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
paths:
  /api/v1/assignments:
    get:
      tags:
        - Records
      summary: Return all assignments that are greater than the minimum updated time.
      operationId: getRecordByMinUpdatedUsingGET
      produces:
        - '*/*'
      parameters:
        - name: minUpdated
          in: query
          description: Minimum updated time value. The value is a unix timestamp.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Record'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Records
      summary: Create an record that is assigned to the creator.
      description: >-
        The record has a status of IN_PROGRESS. The returned object is the newly
        created record.
      operationId: createRecordUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/assignments/public:
    post:
      tags:
        - Records
      summary: Create a public record.
      description: >-
        Public assignments must included value map(s). Returns the saved public
        record.
      operationId: createPublicUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/assignments/{record}':
    get:
      tags:
        - Records
      summary: Open and then return the record.
      description: >-
        Assignment active date is updated to current time if the record is
        assigned to the principal user. This will transition the record's status
        from not started to in progress.
      operationId: getRecordUsingGET
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - Records
      summary: 'Updates the record, but does not progress it to the next node.'
      description: Returns the updated record.
      operationId: updateRecordUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Records
      summary: Delete mapping between two assignments.
      operationId: deleteMappingUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: map
          in: query
          description: Assignment ID to delete mapping with
          required: false
          type: string
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  '/api/v1/assignments/{record}/child':
    post:
      tags:
        - Records
      summary: >-
        Add a child record relationship to the record represented by the path
        variable.
      description: The child may already exist or it may need to be created.
      operationId: createChildUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: child
          description: child
          required: true
          schema:
            $ref: '#/definitions/Record'
        - name: layout
          in: query
          description: Layout ID
          required: false
          type: string
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FilteredRecord'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/assignments/{record}/parent':
    post:
      tags:
        - Records
      summary: >-
        Add a parent record relationship to the record represented by the path
        variable.
      description: The parent may already exist or it may need to be created.
      operationId: createParentUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: layout
          in: query
          description: Layout ID
          required: false
          type: string
        - in: body
          name: parent
          description: parent
          required: true
          schema:
            $ref: '#/definitions/Record'
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FilteredRecord'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/assignments/{record}/progress':
    put:
      tags:
        - Records
      summary: >-
        Updates the record, progresses it to the appropriate node, and
        optionally assigns it to another user.
      description: Returns the saved record.
      operationId: submitRecordUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/assignments/{record}/redirect/{redirect}':
    put:
      tags:
        - Records
      summary: >-
        Updates the record, redirects it to the appropriate node, and optionally
        assigns it to another user. Redirects don't trigger record validation.
      description: Returns the saved record.
      operationId: redirectRecordUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
        - name: redirect
          in: path
          description: redirect
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/currentValues:
    get:
      tags:
        - Current Values
      summary: Return a list of default current values based on a workflow.
      operationId: findDefaultsByWorkflowUsingGET
      produces:
        - '*/*'
      parameters:
        - name: workflow
          in: query
          description: workflow
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CurrentValue'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Current Values
      summary: Create a list of current values for a specified field.
      operationId: createUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: currentValues
          description: currentValues
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CurrentValue'
        - name: field
          in: query
          description: field
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CurrentValue'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    patch:
      tags:
        - Current Values
      summary: >-
        Clear default status from any existing field default values and update
        the input current value list to default status. The saved default values
        are returned after.
      operationId: updateDefaultsUsingPATCH
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: currentValues
          description: currentValues
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/CurrentValue'
        - name: default
          in: query
          required: true
          type: string
          default: 'true'
          enum:
            - 'true'
        - name: field
          in: query
          description: field
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CurrentValue'
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  '/api/v1/currentValues/field/{id}':
    get:
      tags:
        - Current Values
      summary: Retrieve current values based on a field id.
      operationId: findCurrentValuesByFieldUsingGET
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
        - name: page
          in: query
          description: Results page wanting to be retrieved
          required: true
          type: string
        - name: query
          in: query
          description: query
          required: false
          type: string
        - name: size
          in: query
          description: The number of elements to be returned
          required: true
          type: string
        - name: sort
          in: query
          description: 'Sorting criteria in the format: object.property(,asc|desc)'
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/CurrentValue'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/currentValues/users:
    get:
      tags:
        - Current Values
      summary: Retrieve the user value options for a particular user field.
      operationId: findUsersByFieldUsingGET
      produces:
        - '*/*'
      parameters:
        - name: field
          in: query
          description: field
          required: true
          type: string
        - name: page
          in: query
          description: Results page wanting to be retrieved
          required: true
          type: string
        - name: query
          in: query
          description: query
          required: true
          type: string
        - name: size
          in: query
          description: The number of elements to be returned
          required: true
          type: string
        - name: sort
          in: query
          description: 'Sorting criteria in the format: object.property(,asc|desc)'
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageOfCurrentValue'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/fields:
    post:
      tags:
        - Fields
      summary: Create a field.
      operationId: createUsingPOST_2
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: field
          description: field
          required: true
          schema:
            $ref: '#/definitions/Field'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Field'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/fields/discrete/values:
    get:
      tags:
        - Fields
      summary: >-
        Return a paginated list of all discrete fields along with their current
        values.
      operationId: findByDiscreteWithValuesUsingGET
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          required: false
          type: boolean
        - name: exclude
          in: query
          required: false
          type: boolean
        - name: global
          in: query
          required: false
          type: boolean
        - name: id
          in: query
          required: false
          type: string
        - name: ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: nodeId
          in: query
          required: false
          type: string
        - name: page
          in: query
          description: Results page wanting to be retrieved
          required: true
          type: string
        - name: processId
          in: query
          required: false
          type: string
        - name: query
          in: query
          required: false
          type: string
        - name: sectionId
          in: query
          required: false
          type: string
        - name: size
          in: query
          description: The number of elements to be returned
          required: true
          type: string
        - name: sort
          in: query
          description: 'Sorting criteria in the format: object.property(,asc|desc)'
          required: false
          type: string
        - name: stepId
          in: query
          required: false
          type: string
        - name: types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          collectionFormat: multi
          enum:
            - TEXT
            - TEXT_AREA
            - DATE_PICKER
            - NUMBER
            - E_SIGNATURE
            - CHECKBOX
            - MULTI_SELECT
            - RADIO
            - SELECT
            - USER
            - ATTACHMENT
            - CALCULATION
            - DUE_DATE
        - name: withInputs
          in: query
          required: false
          type: boolean
        - name: withValues
          in: query
          required: false
          type: boolean
        - name: workflowId
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageOfField'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/fields/global:
    get:
      tags:
        - Fields
      summary: Return a paginated list of global fields.
      operationId: findByGlobalUsingGET
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          required: false
          type: boolean
        - name: exclude
          in: query
          required: false
          type: boolean
        - name: global
          in: query
          required: false
          type: boolean
        - name: id
          in: query
          required: false
          type: string
        - name: ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: nodeId
          in: query
          required: false
          type: string
        - name: page
          in: query
          description: Results page wanting to be retrieved
          required: true
          type: string
        - name: processId
          in: query
          required: false
          type: string
        - name: query
          in: query
          required: false
          type: string
        - name: sectionId
          in: query
          required: false
          type: string
        - name: size
          in: query
          description: The number of elements to be returned
          required: true
          type: string
        - name: sort
          in: query
          description: 'Sorting criteria in the format: object.property(,asc|desc)'
          required: false
          type: string
        - name: stepId
          in: query
          required: false
          type: string
        - name: types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          collectionFormat: multi
          enum:
            - TEXT
            - TEXT_AREA
            - DATE_PICKER
            - NUMBER
            - E_SIGNATURE
            - CHECKBOX
            - MULTI_SELECT
            - RADIO
            - SELECT
            - USER
            - ATTACHMENT
            - CALCULATION
            - DUE_DATE
        - name: withInputs
          in: query
          required: false
          type: boolean
        - name: withValues
          in: query
          required: false
          type: boolean
        - name: workflowId
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageOfField'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/fields/isInput/{fieldId}':
    get:
      tags:
        - Fields
      summary: Returns whether a field is a field input to a calculation field.
      operationId: fieldIsInputUsingGET
      produces:
        - '*/*'
      parameters:
        - name: fieldId
          in: path
          description: fieldId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: boolean
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/fields/nested:
    get:
      tags:
        - Fields
      summary: Return a list of all nested fields.
      operationId: findInputFieldsByRequestUsingGET
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          required: false
          type: boolean
        - name: exclude
          in: query
          required: false
          type: boolean
        - name: global
          in: query
          required: false
          type: boolean
        - name: id
          in: query
          required: false
          type: string
        - name: ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: nodeId
          in: query
          required: false
          type: string
        - name: processId
          in: query
          required: false
          type: string
        - name: query
          in: query
          required: false
          type: string
        - name: sectionId
          in: query
          required: false
          type: string
        - name: stepId
          in: query
          required: false
          type: string
        - name: types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          collectionFormat: multi
          enum:
            - TEXT
            - TEXT_AREA
            - DATE_PICKER
            - NUMBER
            - E_SIGNATURE
            - CHECKBOX
            - MULTI_SELECT
            - RADIO
            - SELECT
            - USER
            - ATTACHMENT
            - CALCULATION
            - DUE_DATE
        - name: withInputs
          in: query
          required: false
          type: boolean
        - name: withValues
          in: query
          required: false
          type: boolean
        - name: workflowId
          in: query
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Field'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/fields/types:
    get:
      tags:
        - Fields
      summary: Return a list of all field types.
      operationId: listFieldTypesUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              type: string
              enum:
                - TEXT
                - TEXT_AREA
                - DATE_PICKER
                - NUMBER
                - E_SIGNATURE
                - CHECKBOX
                - MULTI_SELECT
                - RADIO
                - SELECT
                - USER
                - ATTACHMENT
                - CALCULATION
                - DUE_DATE
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/fields/workflow/{workflowId}':
    get:
      tags:
        - Fields
      summary: Return a paginated list of fields from a particular workflow.
      operationId: findByWorkflowUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          required: false
          type: boolean
        - name: exclude
          in: query
          required: false
          type: boolean
        - name: global
          in: query
          required: false
          type: boolean
        - name: id
          in: query
          required: false
          type: string
        - name: ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: nodeId
          in: query
          required: false
          type: string
        - name: page
          in: query
          required: true
          type: string
        - name: processId
          in: query
          required: false
          type: string
        - name: query
          in: query
          required: false
          type: string
        - name: sectionId
          in: query
          required: false
          type: string
        - name: stepId
          in: query
          required: false
          type: string
        - name: types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          collectionFormat: multi
          enum:
            - TEXT
            - TEXT_AREA
            - DATE_PICKER
            - NUMBER
            - E_SIGNATURE
            - CHECKBOX
            - MULTI_SELECT
            - RADIO
            - SELECT
            - USER
            - ATTACHMENT
            - CALCULATION
            - DUE_DATE
        - name: withInputs
          in: query
          required: false
          type: boolean
        - name: withValues
          in: query
          required: false
          type: boolean
        - name: workflowId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageOfField'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/fields/workflow/{workflowId}/users':
    get:
      tags:
        - Fields
      summary: >-
        Return a paginated list of user fields based on a workflow and global
        user fields.
      operationId: findUserFieldsByWorkflowOrGlobalUsingGET
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          required: false
          type: boolean
        - name: exclude
          in: query
          required: false
          type: boolean
        - name: global
          in: query
          required: false
          type: boolean
        - name: id
          in: query
          required: false
          type: string
        - name: ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: nodeId
          in: query
          required: false
          type: string
        - name: processId
          in: query
          required: false
          type: string
        - name: query
          in: query
          required: false
          type: string
        - name: sectionId
          in: query
          required: false
          type: string
        - name: stepId
          in: query
          required: false
          type: string
        - name: types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          collectionFormat: multi
          enum:
            - TEXT
            - TEXT_AREA
            - DATE_PICKER
            - NUMBER
            - E_SIGNATURE
            - CHECKBOX
            - MULTI_SELECT
            - RADIO
            - SELECT
            - USER
            - ATTACHMENT
            - CALCULATION
            - DUE_DATE
        - name: withInputs
          in: query
          required: false
          type: boolean
        - name: withValues
          in: query
          required: false
          type: boolean
        - name: workflowId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PageOfField'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/fields/workflow/{workflowId}/values':
    get:
      tags:
        - Fields
      summary: Return a list of fields from a particular a workflow.
      operationId: findByWorkflowUsingGET
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          description: Return archived values.
          required: false
          type: boolean
          default: false
          x-example: false
        - name: exclude
          in: query
          required: false
          type: boolean
        - name: global
          in: query
          required: false
          type: boolean
        - name: id
          in: query
          required: false
          type: string
        - name: ids
          in: query
          required: false
          type: array
          items:
            type: string
          collectionFormat: multi
        - name: nodeId
          in: query
          required: false
          type: string
        - name: processId
          in: query
          required: false
          type: string
        - name: query
          in: query
          required: false
          type: string
        - name: sectionId
          in: query
          required: false
          type: string
        - name: stepId
          in: query
          required: false
          type: string
        - name: types
          in: query
          required: false
          type: array
          items:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          collectionFormat: multi
          enum:
            - TEXT
            - TEXT_AREA
            - DATE_PICKER
            - NUMBER
            - E_SIGNATURE
            - CHECKBOX
            - MULTI_SELECT
            - RADIO
            - SELECT
            - USER
            - ATTACHMENT
            - CALCULATION
            - DUE_DATE
        - name: withInputs
          in: query
          required: false
          type: boolean
        - name: withValues
          in: query
          required: false
          type: boolean
        - name: workflowId
          in: path
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Field'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/fields/{id}':
    get:
      tags:
        - Fields
      summary: Find a specific field.
      operationId: findByIdUsingGET
      produces:
        - '*/*'
      parameters:
        - name: archived
          in: query
          description: Retrieve archived values
          required: false
          type: boolean
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Field'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Fields
      summary: Delete a field.
      operationId: deleteUsingDELETE
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  /api/v1/nodes:
    get:
      tags:
        - Steps
      summary: Return a list of all nodes that are active and attached to a workflow.
      operationId: findAllUsingGET_1
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Step'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/nodes/{id}':
    get:
      tags:
        - Steps
      summary: Find a specific node.
      operationId: findByIdUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Step'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/records:
    get:
      tags:
        - Records
      summary: >-
        Return children assignments that are greater than the minimum updated
        time.
      operationId: getRecordChildrenByLastUpdatedUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: hasChild
          in: query
          required: true
          type: string
          default: 'true'
          enum:
            - 'true'
        - name: minUpdated
          in: query
          description: Minimum updated time value. The value is a unix timestamp.
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Record'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Records
      summary: Create an record that is assigned to the creator.
      description: >-
        The record has a status of IN_PROGRESS. The returned object is the newly
        created record.
      operationId: createRecordUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/records/public:
    post:
      tags:
        - Records
      summary: Create a public record.
      description: >-
        Public assignments must included value map(s). Returns the saved public
        record.
      operationId: createPublicUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/records/{record}':
    get:
      tags:
        - Records
      summary: Open and then return the record.
      description: >-
        Assignment active date is updated to current time if the record is
        assigned to the principal user. This will transition the record's status
        from not started to in progress.
      operationId: getRecordUsingGET_1
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    put:
      tags:
        - Records
      summary: 'Updates the record, but does not progress it to the next node.'
      description: Returns the updated record.
      operationId: updateRecordUsingPUT_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    delete:
      tags:
        - Records
      summary: Delete an record.
      operationId: deleteUsingDELETE_2
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
      deprecated: false
  '/api/v1/records/{record}/child':
    post:
      tags:
        - Records
      summary: >-
        Add a child record relationship to the record represented by the path
        variable.
      description: The child may already exist or it may need to be created.
      operationId: createChildUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: child
          description: child
          required: true
          schema:
            $ref: '#/definitions/Record'
        - name: layout
          in: query
          description: Layout ID
          required: false
          type: string
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FilteredRecord'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/records/{record}/parent':
    post:
      tags:
        - Records
      summary: >-
        Add a parent record relationship to the record represented by the path
        variable.
      description: The parent may already exist or it may need to be created.
      operationId: createParentUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: layout
          in: query
          description: Layout ID
          required: false
          type: string
        - in: body
          name: parent
          description: parent
          required: true
          schema:
            $ref: '#/definitions/Record'
        - name: record
          in: path
          description: record
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FilteredRecord'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/records/{record}/progress':
    put:
      tags:
        - Records
      summary: >-
        Updates the record, progresses it to the appropriate node, and
        optionally assigns it to another user.
      description: Returns the saved record.
      operationId: submitRecordUsingPUT_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/records/{record}/redirect/{redirect}':
    put:
      tags:
        - Records
      summary: >-
        Updates the record, redirects it to the appropriate node, and optionally
        assigns it to another user. Redirects don't trigger record validation.
      description: Returns the saved record.
      operationId: redirectRecordUsingPUT_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: record
          in: path
          description: record
          required: true
          type: string
        - in: body
          name: record
          description: record
          required: true
          schema:
            $ref: '#/definitions/Record'
        - name: redirect
          in: path
          description: redirect
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Record'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/roles:
    get:
      tags:
        - Roles
      summary: Return all roles that are active and unlocked.
      operationId: findAllUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Role'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Roles
      summary: Create a new role.
      operationId: createUsingPOST_3
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: role
          description: role
          required: true
          schema:
            $ref: '#/definitions/Role'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Role'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/roles/user:
    get:
      tags:
        - Roles
      summary: >-
        Return a list of roles that are active and associated to the logged in
        principal user.
      operationId: findByUserUsingGET
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Role'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/steps:
    get:
      tags:
        - Steps
      summary: Return a list of all nodes that are active and attached to a workflow.
      operationId: findAllUsingGET_2
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Step'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/steps/{id}':
    get:
      tags:
        - Steps
      summary: Find a specific node.
      operationId: findByIdUsingGET_2
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Step'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/users:
    get:
      tags:
        - Users
      summary: Find all users regardless of status.
      operationId: findAllUsingGET_3
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Users
      summary: Create a user with no attached roles.
      operationId: createUsingPOST_4
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: user
          description: user
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/users/disable/{id}':
    put:
      tags:
        - Users
      summary: Disable a user. User making the request must have admin privileges.
      operationId: disableUserUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/users/enable/{id}':
    put:
      tags:
        - Users
      summary: >-
        Enable a user to be active. User making the request must have admin
        privileges.
      operationId: enableUserUsingPUT
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
        - name: sendEmail
          in: query
          description: sendEmail
          required: false
          type: string
          default: 'true'
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/users/external:
    post:
      tags:
        - External Users
      summary: Create a external user with no attached roles.
      operationId: createUsingPOST_1
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - in: body
          name: user
          description: user
          required: true
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/User'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/users/import:
    post:
      tags:
        - Users
      summary: importUsers
      operationId: importUsersUsingPOST
      consumes:
        - multipart/form-data
      produces:
        - '*/*'
      parameters:
        - name: file
          in: formData
          description: file
          required: true
          type: file
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImportRequest'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/valueMaps:
    get:
      tags:
        - Value Maps
      summary: >-
        Return a list of value maps that are greater than the minimum updated
        time.
      operationId: getValueMapsByMinUpdatedUsingGET
      produces:
        - '*/*'
      parameters:
        - name: minUpdated
          in: query
          description: Minimum updated time value. The value is a unix timestamp.
          required: false
          type: integer
          format: int64
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ValueMap'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
    post:
      tags:
        - Value Maps
      summary: Create a value map and associate it to a record.
      operationId: createValueMapUsingPOST
      consumes:
        - application/json
      produces:
        - '*/*'
      parameters:
        - name: assignment
          in: query
          description: assignment
          required: false
          type: string
        - in: body
          name: currentValueMap
          description: currentValueMap
          required: true
          schema:
            $ref: '#/definitions/ValueMap'
        - name: record
          in: query
          description: Assignment ID
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ValueMap'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/workflows:
    get:
      tags:
        - Workflows
      summary: Return a list of all workflows that are active throughout all processes.
      operationId: findAllUsingGET_4
      produces:
        - '*/*'
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Workflow'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/workflows/node/{nodeId}':
    get:
      tags:
        - Workflows
      summary: Return a workflow that contains a specific node.
      operationId: findByNodeUsingGET
      produces:
        - '*/*'
      parameters:
        - name: nodeId
          in: path
          description: nodeId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/workflows/process:
    get:
      tags:
        - Workflows
      summary: Return a list of all workflows that are active throughout all processes.
      operationId: findByQueryWithProcessUsingGET
      produces:
        - '*/*'
      parameters:
        - name: page
          in: query
          description: Results page wanting to be retrieved
          required: true
          type: string
        - name: query
          in: query
          description: query
          required: false
          type: string
        - name: size
          in: query
          description: The number of elements to be returned
          required: true
          type: string
        - name: sort
          in: query
          description: 'Sorting criteria in the format: object.property(,asc|desc)'
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Workflow'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  /api/v1/workflows/relatives:
    get:
      tags:
        - Workflows
      summary: 'Identify all paths from a particular workflow to relative workflows. '
      description: >-
        If the distinct parameter is passed as true, then this list will filter
        to distinct relative workflows.If the distinct parameter is omitted or
        passed as false, then relative workflows will be repeated if there are
        multiple paths to the relative.
      operationId: findAllRelativesUsingGET
      produces:
        - '*/*'
      parameters:
        - name: distinct
          in: query
          description: distinct
          required: false
          type: boolean
        - name: workflow
          in: query
          description: workflow
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/WorkflowResult'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/workflows/step/{stepId}':
    get:
      tags:
        - Workflows
      summary: Return a workflow that contains a specific step.
      operationId: findByStepUsingGET
      produces:
        - '*/*'
      parameters:
        - name: stepId
          in: path
          description: stepId
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
  '/api/v1/workflows/{id}':
    get:
      tags:
        - Workflows
      summary: Find a specific workflow.
      operationId: findByIdUsingGET_3
      produces:
        - '*/*'
      parameters:
        - name: id
          in: path
          description: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Workflow'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      deprecated: false
definitions:
  AccessAudit:
    type: object
    discriminator: accessType
    properties:
      active:
        type: boolean
      created:
        type: string
        format: date-time
      id:
        type: string
      labels:
        type: array
        items:
          type: string
      remoteAddress:
        type: string
      updated:
        type: string
        format: date-time
    title: AccessAudit
    description: Entity used to track authentication attempts.
  Active:
    title: Active
    allOf:
      - $ref: '#/definitions/User'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          assignments:
            type: array
            items:
              $ref: '#/definitions/Record'
          company:
            type: string
          created:
            type: string
            format: date-time
          default:
            type: boolean
          disabled:
            type: boolean
          discriminator:
            type: string
          email:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          first:
            type: string
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          imageUrl:
            type: string
          intercomHash:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          languageTag:
            type: string
          last:
            type: string
          lastLogin:
            $ref: '#/definitions/AccessAudit'
          locked:
            type: boolean
          loginAttempts:
            type: integer
            format: int32
          name:
            type: string
          numericValue:
            type: number
            format: double
          password:
            type: string
          priority:
            type: integer
            format: int32
          records:
            type: array
            items:
              $ref: '#/definitions/Record'
          resetPasswordToken:
            type: string
          roles:
            type: array
            items:
              $ref: '#/definitions/Role'
          sendEmail:
            type: boolean
          status:
            type: string
          superUser:
            type: boolean
          textValue:
            type: string
          tier:
            type: string
            enum:
              - PRIMARY
              - SECONDARY
              - LIMITED
          timeZone:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
        title: Active
  Attachment:
    title: Attachment
    allOf:
      - $ref: '#/definitions/Field'
      - type: object
        required:
          - fieldType
        properties:
          active:
            type: boolean
          convertibleTo:
            type: array
            items:
              type: string
          created:
            type: string
            format: date-time
          currentValues:
            type: array
            description: Relationship to current values that are associated to the field.
            items:
              $ref: '#/definitions/CurrentValue'
          discrete:
            type: boolean
          enableVersions:
            type: boolean
          fieldType:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          global:
            type: boolean
          id:
            type: string
          label:
            type: string
            description: >-
              The label will appear as the label for the field when it appears
              on forms for user's to complete.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: The name of the field.
          operators:
            type: array
            items:
              type: string
              enum:
                - EQUALS
                - NOT_EQUALS
                - GREATER_THAN
                - GREATER_THAN_EQUALS
                - LESS_THAN
                - LESS_THAN_EQUALS
                - CONTAINS
                - DOES_NOT_CONTAIN
                - 'NULL'
                - NOT_NULL
                - MATCHES
                - DATE_RANGE
          tooltip:
            type: string
            description: A text value that will populate any tooltip information.
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          workflow:
            description: Workflow object that is associated to the field.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: Attachment
  Calculation:
    title: Calculation
    allOf:
      - $ref: '#/definitions/Field'
      - type: object
        required:
          - fieldType
        properties:
          active:
            type: boolean
          convertibleTo:
            type: array
            items:
              type: string
          created:
            type: string
            format: date-time
          currentValues:
            type: array
            description: Relationship to current values that are associated to the field.
            items:
              $ref: '#/definitions/CurrentValue'
          discrete:
            type: boolean
          expression:
            type: string
          fieldInputs:
            type: array
            description: Fields used to evaluate the expression of the calculation
            items:
              $ref: '#/definitions/FieldInput'
          fieldType:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          global:
            type: boolean
          id:
            type: string
          label:
            type: string
            description: >-
              The label will appear as the label for the field when it appears
              on forms for user's to complete.
          labels:
            type: array
            items:
              type: string
          labelsEnabled:
            type: boolean
          logicalHandling:
            type: string
            enum:
              - EQUALS
              - NOT_EQUALS
              - GREATER_THAN
              - GREATER_THAN_EQUALS
              - LESS_THAN
              - LESS_THAN_EQUALS
              - CONTAINS
              - DOES_NOT_CONTAIN
              - 'NULL'
              - NOT_NULL
              - MATCHES
              - DATE_RANGE
          name:
            type: string
            description: The name of the field.
          nullStrategy:
            type: string
            enum:
              - 'NULL'
              - ZERO
              - ONE
          operators:
            type: array
            items:
              type: string
              enum:
                - EQUALS
                - NOT_EQUALS
                - GREATER_THAN
                - GREATER_THAN_EQUALS
                - LESS_THAN
                - LESS_THAN_EQUALS
                - CONTAINS
                - DOES_NOT_CONTAIN
                - 'NULL'
                - NOT_NULL
                - MATCHES
                - DATE_RANGE
          tooltip:
            type: string
            description: A text value that will populate any tooltip information.
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          workflow:
            description: Workflow object that is associated to the field.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: Calculation
  Chain:
    title: Chain
    allOf:
      - $ref: '#/definitions/Step'
      - type: object
        properties:
          active:
            type: boolean
          allowEntitlements:
            type: boolean
            description: Allow entitlements to the node.
          chain:
            type: boolean
          contains:
            $ref: '#/definitions/Workflow'
          created:
            type: string
            format: date-time
          end:
            type: boolean
          id:
            type: string
          isPublic:
            type: boolean
            description: Allows a node to become a public node.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: Node name.
          origin:
            type: boolean
          priority:
            type: integer
            format: int32
            description: Determines the node's place in the workflow.
          public:
            type: boolean
          sla:
            description: Object containing all SLA information.
            $ref: '#/definitions/ServiceLevelAgreement'
          stepType:
            type: string
            description: Node type.
          updated:
            type: string
            format: date-time
          workflow:
            description: Workflow that the node belongs to.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
          xpos:
            type: integer
            format: int32
            description: Vertical position of the node on the process screen.
          ypos:
            type: integer
            format: int32
            description: Horizontal position of the node on the process screen.
        title: Chain
  Checkbox:
    title: Checkbox
    allOf:
      - $ref: '#/definitions/Field'
      - type: object
        required:
          - fieldType
        properties:
          active:
            type: boolean
          convertibleTo:
            type: array
            items:
              type: string
          created:
            type: string
            format: date-time
          currentValues:
            type: array
            description: Relationship to current values that are associated to the field.
            items:
              $ref: '#/definitions/CurrentValue'
          discrete:
            type: boolean
          fieldType:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          global:
            type: boolean
          id:
            type: string
          label:
            type: string
            description: >-
              The label will appear as the label for the field when it appears
              on forms for user's to complete.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: The name of the field.
          operators:
            type: array
            items:
              type: string
              enum:
                - EQUALS
                - NOT_EQUALS
                - GREATER_THAN
                - GREATER_THAN_EQUALS
                - LESS_THAN
                - LESS_THAN_EQUALS
                - CONTAINS
                - DOES_NOT_CONTAIN
                - 'NULL'
                - NOT_NULL
                - MATCHES
                - DATE_RANGE
          tooltip:
            type: string
            description: A text value that will populate any tooltip information.
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          workflow:
            description: Workflow object that is associated to the field.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: Checkbox
  ChildResult:
    type: object
    properties:
      children:
        type: array
        items:
          $ref: '#/definitions/Record'
      parent:
        $ref: '#/definitions/Record'
    title: ChildResult
  CleanAttachment:
    title: CleanAttachment
    allOf:
      - $ref: '#/definitions/CurrentValue'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          attachmentStatus:
            type: string
            enum:
              - PENDING
              - CLEAN
              - DIRTY
          awsS3Key:
            type: string
          contentType:
            type: string
          created:
            type: string
            format: date-time
          default:
            type: boolean
          discriminator:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          fileExtension:
            type: string
          fileSize:
            type: integer
            format: int64
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          numericValue:
            type: number
            format: double
          originalFileExtension:
            type: string
          priority:
            type: integer
            format: int32
          textValue:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          versionCount:
            type: integer
            format: int32
        title: CleanAttachment
  CurrentCommonValue:
    title: CurrentCommonValue
    allOf:
      - $ref: '#/definitions/CurrentValue'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          created:
            type: string
            format: date-time
          default:
            type: boolean
          discriminator:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          numericValue:
            type: number
            format: double
          priority:
            type: integer
            format: int32
          textValue:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
        title: CurrentCommonValue
  CurrentDateRangeValue:
    title: CurrentDateRangeValue
    allOf:
      - $ref: '#/definitions/CurrentValue'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          created:
            type: string
            format: date-time
          default:
            type: boolean
          defaultToNow:
            type: boolean
          discriminator:
            type: string
          empty:
            type: boolean
          endTemporalValue:
            type: string
            format: date-time
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          hasTime:
            type: boolean
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          numericValue:
            type: number
            format: double
          priority:
            type: integer
            format: int32
          temporalValue:
            type: string
            format: date-time
          textValue:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
        title: CurrentDateRangeValue
  CurrentDateValue:
    title: CurrentDateValue
    allOf:
      - $ref: '#/definitions/CurrentValue'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          created:
            type: string
            format: date-time
          default:
            type: boolean
          defaultToNow:
            type: boolean
          discriminator:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          hasTime:
            type: boolean
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          numericValue:
            type: number
            format: double
          priority:
            type: integer
            format: int32
          temporalValue:
            type: string
            format: date-time
          textValue:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
        title: CurrentDateValue
  CurrentValue:
    type: object
    discriminator: discriminator
    properties:
      active:
        type: boolean
      archived:
        type: boolean
      created:
        type: string
        format: date-time
      default:
        type: boolean
      discriminator:
        type: string
      empty:
        type: boolean
      field:
        $ref: '#/definitions/Field'
      fieldId:
        type: string
      hasValue:
        $ref: '#/definitions/Field'
      id:
        type: string
      isDefault:
        type: boolean
      labels:
        type: array
        items:
          type: string
      numericValue:
        type: number
        format: double
      priority:
        type: integer
        format: int32
      textValue:
        type: string
      updated:
        type: string
        format: date-time
      valueType:
        type: string
    title: CurrentValue
    description: Entity used to manage record's field data.
  DatePicker:
    title: DatePicker
    allOf:
      - $ref: '#/definitions/Field'
      - type: object
        required:
          - fieldType
        properties:
          active:
            type: boolean
          convertibleTo:
            type: array
            items:
              type: string
          created:
            type: string
            format: date-time
          currentValues:
            type: array
            description: Relationship to current values that are associated to the field.
            items:
              $ref: '#/definitions/CurrentValue'
          discrete:
            type: boolean
          fieldType:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          global:
            type: boolean
          hasTime:
            type: boolean
          id:
            type: string
          label:
            type: string
            description: >-
              The label will appear as the label for the field when it appears
              on forms for user's to complete.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: The name of the field.
          operators:
            type: array
            items:
              type: string
              enum:
                - EQUALS
                - NOT_EQUALS
                - GREATER_THAN
                - GREATER_THAN_EQUALS
                - LESS_THAN
                - LESS_THAN_EQUALS
                - CONTAINS
                - DOES_NOT_CONTAIN
                - 'NULL'
                - NOT_NULL
                - MATCHES
                - DATE_RANGE
          presentOrFuture:
            type: boolean
          presentOrPast:
            type: boolean
          tooltip:
            type: string
            description: A text value that will populate any tooltip information.
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          workflow:
            description: Workflow object that is associated to the field.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: DatePicker
  Default:
    title: Default
    allOf:
      - $ref: '#/definitions/Layout'
      - type: object
        properties:
          active:
            type: boolean
          created:
            type: string
            format: date-time
          defaultLayout:
            type: boolean
          id:
            type: string
          labels:
            type: array
            items:
              type: string
          layoutFields:
            type: array
            items:
              $ref: '#/definitions/LayoutField'
          title:
            type: string
          updated:
            type: string
            format: date-time
          workflow:
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: Default
        description: >-
          The "default" layout functions as the application's fallback when
          there is no workflow specific layout to use or a user specific layout
          to use.
    description: >-
      The "default" layout functions as the application's fallback when there is
      no workflow specific layout to use or a user specific layout to use.
  DirtyAttachment:
    title: DirtyAttachment
    allOf:
      - $ref: '#/definitions/CurrentValue'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          attachmentStatus:
            type: string
            enum:
              - PENDING
              - CLEAN
              - DIRTY
          awsS3Key:
            type: string
          contentType:
            type: string
          created:
            type: string
            format: date-time
          default:
            type: boolean
          discriminator:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          fileExtension:
            type: string
          fileSize:
            type: integer
            format: int64
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          numericValue:
            type: number
            format: double
          originalFileExtension:
            type: string
          priority:
            type: integer
            format: int32
          textValue:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          versionCount:
            type: integer
            format: int32
        title: DirtyAttachment
  Disabled:
    title: Disabled
    allOf:
      - $ref: '#/definitions/User'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          assignments:
            type: array
            items:
              $ref: '#/definitions/Record'
          company:
            type: string
          created:
            type: string
            format: date-time
          default:
            type: boolean
          disabled:
            type: boolean
          discriminator:
            type: string
          email:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          first:
            type: string
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          imageUrl:
            type: string
          intercomHash:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          languageTag:
            type: string
          last:
            type: string
          lastLogin:
            $ref: '#/definitions/AccessAudit'
          locked:
            type: boolean
          loginAttempts:
            type: integer
            format: int32
          name:
            type: string
          numericValue:
            type: number
            format: double
          password:
            type: string
          priority:
            type: integer
            format: int32
          records:
            type: array
            items:
              $ref: '#/definitions/Record'
          resetPasswordToken:
            type: string
          roles:
            type: array
            items:
              $ref: '#/definitions/Role'
          sendEmail:
            type: boolean
          status:
            type: string
          superUser:
            type: boolean
          textValue:
            type: string
          tier:
            type: string
            enum:
              - PRIMARY
              - SECONDARY
              - LIMITED
          timeZone:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
        title: Disabled
  Display:
    title: Display
    allOf:
      - $ref: '#/definitions/Layout'
      - type: object
        properties:
          active:
            type: boolean
          created:
            type: string
            format: date-time
          defaultLayout:
            type: boolean
          id:
            type: string
          labels:
            type: array
            items:
              type: string
          layoutFields:
            type: array
            items:
              $ref: '#/definitions/LayoutField'
          title:
            type: string
          updated:
            type: string
            format: date-time
          workflow:
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: Display
  DueDate:
    title: DueDate
    allOf:
      - $ref: '#/definitions/Field'
      - type: object
        required:
          - fieldType
        properties:
          active:
            type: boolean
          convertibleTo:
            type: array
            items:
              type: string
          created:
            type: string
            format: date-time
          currentValues:
            type: array
            description: Relationship to current values that are associated to the field.
            items:
              $ref: '#/definitions/CurrentValue'
          discrete:
            type: boolean
          fieldType:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          global:
            type: boolean
          id:
            type: string
          label:
            type: string
            description: >-
              The label will appear as the label for the field when it appears
              on forms for user's to complete.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: The name of the field.
          operators:
            type: array
            items:
              type: string
              enum:
                - EQUALS
                - NOT_EQUALS
                - GREATER_THAN
                - GREATER_THAN_EQUALS
                - LESS_THAN
                - LESS_THAN_EQUALS
                - CONTAINS
                - DOES_NOT_CONTAIN
                - 'NULL'
                - NOT_NULL
                - MATCHES
                - DATE_RANGE
          tooltip:
            type: string
            description: A text value that will populate any tooltip information.
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          workflow:
            description: Workflow object that is associated to the field.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: DueDate
  ESignature:
    title: ESignature
    allOf:
      - $ref: '#/definitions/Field'
      - type: object
        required:
          - fieldType
        properties:
          active:
            type: boolean
          convertibleTo:
            type: array
            items:
              type: string
          created:
            type: string
            format: date-time
          currentValues:
            type: array
            description: Relationship to current values that are associated to the field.
            items:
              $ref: '#/definitions/CurrentValue'
          discrete:
            type: boolean
          fieldType:
            type: string
            enum:
              - TEXT
              - TEXT_AREA
              - DATE_PICKER
              - NUMBER
              - E_SIGNATURE
              - CHECKBOX
              - MULTI_SELECT
              - RADIO
              - SELECT
              - USER
              - ATTACHMENT
              - CALCULATION
              - DUE_DATE
          global:
            type: boolean
          hasSignature:
            type: boolean
          id:
            type: string
          label:
            type: string
            description: >-
              The label will appear as the label for the field when it appears
              on forms for user's to complete.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: The name of the field.
          operators:
            type: array
            items:
              type: string
              enum:
                - EQUALS
                - NOT_EQUALS
                - GREATER_THAN
                - GREATER_THAN_EQUALS
                - LESS_THAN
                - LESS_THAN_EQUALS
                - CONTAINS
                - DOES_NOT_CONTAIN
                - 'NULL'
                - NOT_NULL
                - MATCHES
                - DATE_RANGE
          tooltip:
            type: string
            description: A text value that will populate any tooltip information.
          updated:
            type: string
            format: date-time
          valueType:
            type: string
          workflow:
            description: Workflow object that is associated to the field.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
        title: ESignature
  End:
    title: End
    allOf:
      - $ref: '#/definitions/Step'
      - type: object
        properties:
          active:
            type: boolean
          allowEntitlements:
            type: boolean
            description: Allow entitlements to the node.
          chain:
            type: boolean
          contains:
            $ref: '#/definitions/Workflow'
          created:
            type: string
            format: date-time
          end:
            type: boolean
          id:
            type: string
          isPublic:
            type: boolean
            description: Allows a node to become a public node.
          labels:
            type: array
            items:
              type: string
          name:
            type: string
            description: Node name.
          origin:
            type: boolean
          priority:
            type: integer
            format: int32
            description: Determines the node's place in the workflow.
          public:
            type: boolean
          sla:
            description: Object containing all SLA information.
            $ref: '#/definitions/ServiceLevelAgreement'
          stepType:
            type: string
            description: Node type.
          updated:
            type: string
            format: date-time
          workflow:
            description: Workflow that the node belongs to.
            $ref: '#/definitions/Workflow'
          workflowId:
            type: string
          xpos:
            type: integer
            format: int32
            description: Vertical position of the node on the process screen.
          ypos:
            type: integer
            format: int32
            description: Horizontal position of the node on the process screen.
        title: End
  External:
    title: External
    allOf:
      - $ref: '#/definitions/User'
      - type: object
        properties:
          active:
            type: boolean
          archived:
            type: boolean
          assignments:
            type: array
            items:
              $ref: '#/definitions/Record'
          company:
            type: string
          created:
            type: string
            format: date-time
          default:
            type: boolean
          disabled:
            type: boolean
          discriminator:
            type: string
          email:
            type: string
          empty:
            type: boolean
          field:
            $ref: '#/definitions/Field'
          fieldId:
            type: string
          first:
            type: string
          hasValue:
            $ref: '#/definitions/Field'
          id:
            type: string
          imageUrl:
            type: string
          intercomHash:
            type: string
          isDefault:
            type: boolean
          labels:
            type: array
            items:
              type: string
          languageTag:
            type: string
          last:
            type: string
          lastLogin:
            $ref: '#/definitions/AccessAudit'
          locked:
            type: boolean
          loginAttempts:
            type: integer
            format: int32
          name:
            type: string
          numericValue:
            type: number
            format: double
          password:
            type: string
          priority:
            type: integer
            format: int32
          records:
            type: array
            items:
              $ref: '#/definitions/Record'
          resetPasswordToken:
            type: string
          roles:
            type: array
            items:
              $ref: '#/definitions/Role'
          sendEmail:
            type: boolean
          status:
            type: string
          superUser:
            type: boolean
          textValue:
            type: string
          tier:
            type: string
            enum:
              - PRIMARY
              - SECONDARY
              - LIMITED
          timeZone:
            type: string
          updated:
            type: string
            format: date-time
          valueType:
            type: string
        title: External
  Field:
    type: object
    required:
      - fieldType
    discriminator: fieldType
    properties:
      active:
        type: boolean
      convertibleTo:
        type: array
        items:
          type: string
      created:
        type: string
        format: date-time
      currentValues:
        type: array
        description: Relationship to current values that are associated to the field.
        items:
          $ref: '#/definitions/CurrentValue'
      discrete:
        type: boolean
      fieldType:
        type: string
        enum:
          - TEXT
          - TEXT_AREA
          - DATE_PICKER
          - NUMBER
          - E_SIGNATURE
          - CHECKBOX
          - MULTI_SELECT
          - RADIO
          - SELECT
          - USER
          - ATTACHMENT
          - CALCULATION
          - DUE_DATE
      global:
        type: boolean
      id:
        type: string
      label:
        type: string
        description: >-
          The label will appear as the label for the field when it appears on
          forms for user's to complete.
      labels:
        type: array
        items:
          type: string
      name:
        type: string
        description: The name of the field.
      operators:
        type: array
        items:
          type: string
          enum:
            - EQUALS
            - NOT_EQUALS
            - GREATER_THAN
            - GREATER_THAN_EQUALS
            - LESS_THAN
            - LESS_THAN_EQUALS
            - CONTAINS
            - DOES_NOT_CONTAIN
            - 'NULL'
            - NOT_NULL
            - MATCHES
            - DATE_RANGE
      tooltip:
        type: string
        description: A text value that will populate any tooltip information.
      updated:
        type: string
        format: date-time
      valueType:
        type: string
      workflow:
        description: Workflow object that is associated to the field.
        $ref: '#/definitions/Workflow'
      workflowId:
        type: string
    title: Field
    description: >-
      An entity used to manage input fields used to capture record data for
      different workflows.
  FieldInput:
    type: object
    properties:
      active:
        type: boolean
      created:
        type: string
        format: date-time
      fieldResult:
        $ref: '#/definitions/FieldInputResult'
      id:
        type: string
      input:
[...]
